html {
  background: rgb(244, 183, 3);
  background: linear-gradient(90deg, rgba(244, 183, 3, 1) 0%, rgba(255, 201, 41, 1) 42%, rgba(244, 183, 3, 1) 100%);
  font-family: 'Baloo Bhaina 2', cursive;
}
